<header class="li_header">
	<h4>基本信息</h4>
	<a href="#/page3"><img src="img/back_arrow.png" alt="" class="back"></a>
</header>
<div class="box" ng-controller="customersCtrl2">
	<section class="section1">
		<h3>有无过敏食物</h3>
			<div class="content">
				<p>
					<span class="checkbox11" ng-click="none()"><input type="radio" id="radio1" name="num3"><label for="radio1"></label> 无</span>
					<span class="checkbox11" ng-click="have()"><input type="radio" id="radio1" name="num3" checked><label for="radio1"></label> 有</span>
				</p>
				<ul class="cao_ul ul" ng-hide="flag" ng-click="fun()">
				</ul>
			</div>
			<div class="greens"></div>
			<div class="btn"><a href="#/page5">开始测试</a></div>
		<section>
		
</div>
